<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="left-column">
        <%= image_tag(@product.image_url, class: "img-fluid") unless @product.image_url.nil? %>
      </div>

      <div class="right-column">
        <div class="product-description">
          <span>
            <%= @product.name %>
          </span>
          <p>
            <%= @product.description %>
          </p>
        </div><!--/product desc-->
        <div class="product-price">
          <span>$<%= @product.price %></span>

      </div><!--/right column-->
      <div><%= form_with(url: '/payments/create') do |form| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %></div>
      <div>
        <strong>Ratings:</strong>
          <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
          <% if @product.highest_rating_comment.nil? %>
          <%= @product.highest_rating_comment %>
          <% end %>
          <% if @product.lowest_rating_comment.nil? %>
          <%= @product.lowest_rating_comment %>
          <% end %>
      </div>

      <%= render 'new_comment' %>

      <%= render 'comments' %>
      <div class="comment-pagination">
        <%= will_paginate @comments %>
      </div>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
    </div><!--end col-->


  </div><!-- end row-->
</div><!--end container-->
