<%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track": false %>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-sm-6 col-md-3">
      <div class="left-column">
        <%= image_tag(@product.image_url, class: "img-zoom img-fluid", data_zoom_image:@product.image_url) unless @product.image_url.nil? %>
      </div>

      <div class="right-column">
        <div class="product-description">
          <span>
            <%= @product.name %>
          </span>
          <p>
            <%= @product.description %>
          </p>
        </div><!--/product desc-->
        <div class="product-price">
          <span>$<%= @product.price %></span>

      </div><!--/right column-->
      <div class="payment-buttons">
      <% if user_signed_in? %>
      <div><%= form_with(url: '/payments/create') do |form| %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
        <% else %>
        <div>
          <%= link_to('Login to purchase', new_user_session_path, class: "btn btn-light") %>
          </div>
      <% end %>
      </div><!--payment-buttons-->
      <div>
        <strong>Ratings:</strong>
          <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
          <% if @product.highest_rating_comment.nil? %>
          <%= @product.highest_rating_comment %>
          <% end %>
          <% if @product.lowest_rating_comment.nil? %>
          <%= @product.lowest_rating_comment %>
          <% end %>
      </div>
      <div>
      <p>Number of views: <%= @product.views %></p>
      </div>
      <%= render 'new_comment' %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render 'comments' %>
      <div class="comment-pagination">
        <%= will_paginate @comments %>
      </div>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
    </div><!--end col-->


  </div><!-- end row-->
</div><!--end container-->
